
.item-action
{
	position: absolute;
	left: 50%;
	bottom: 3px;
	z-index: 1000;
	display: block;
	width: 100px;
	margin-left: -50px;
	cursor: pointer;
	text-align: center;
}


.add-cart
{
	background-image: url("img/add-cart.png");
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: top;
}

.item-photo
{
	overflow: hidden;
	padding: 5px;
	/*height: 300px;*/

}

.img-shop
{
	width: auto;
	float: left;
	background-color: #f2f2f2;
	display: block;
	width: auto;
}

button.rm-form-cart
{
	margin-top: 10px;
	background-color: #ffffff;
	border-color: #999;
}

button.rm-form-cart:hover
{
	background-color: #2780e3;
}

button.rm-form-cart > span
{
	color: red;
}

button.rm-form-cart:hover > span
{
	color: white;
}
